<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/build.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="font-mono">
    <div class="bg-zinc-800 h-screen flex gap-2 p-2">
        <div class="h-full flex-1 bg-zinc-900 rounded text-white flex flex-col items-center">
            <div class="border-b-1 w-full border-gray-600 flex justify-center pb-2">
                <h1 class="text-2xl mt-4">Admin Panel</h1>
            </div>
            <div class="w-full mt-4 pl-6 flex flex-col gap-2 items-start">
                <a href="" class="text-blue-500 hover:text-blue-700 transition-all duration-300 ease-in-out">
                    <i class="fa-solid fa-table-cells-large"></i>
                    Dashboard
                </a>
                <a href="/products">
                    <i class="fa fa-reorder"></i>
                    Products
                </a>
                <a href="/homeSlider">
                    <i class="fa-solid fa-panorama"></i>
                    HomeSliders
                </a>
            </div>
        </div>
        <div class="h-full flex-5 bg-zinc-900 rounded">

        </div>
    </div>
</body>

</html>