<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/build.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="font-mono">
    <div class="h-screen bg-zinc-700 flex justify-center items-center p-10 relative">
        <div class="bg-zinc-600 rounded-md p-6 w-[500px] z-10">
            <h1 class="text-2xl text-white text-center">Welcome Back!</h1>
            <p class="text-center text-medium text-blue-400 text-sm mb-4 font-sans">Login to your account</p>
            <% if(locals.errorMsg) { %>
                <p class="text-red-500 text-center mb-2"><%=errorMsg %></p>
            <% } %>
            <form action="/auth/login" method="post">
                <input type="text" name="username" placeholder="Username" required="true"
                    class="w-full mb-4 px-3 py-2 rounded bg-zinc-300 text-zinc-800 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <input type="password" name="password" placeholder="Password" required="true"
                    class="w-full mb-4 px-3 py-2 rounded bg-zinc-300 text-zinc-800 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <input type="submit" value="Login"
                    class="w-full bg-blue-500 text-white px-3 py-2 rounded cursor-pointer hover:bg-blue-600 transition duration-300">
            </form>
        </div>
        <div
            class="bg-gray-600 z-5 opacity-20 bg-clip-padding rounded-md border border-gray-500 backdrop-blur-3xl fixed top-0 left-0 w-full h-full">

        </div>
    </div>
</body>

</html>