<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/build.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="font-mono">
    <div class="bg-zinc-800 h-screen flex gap-2 p-2">
        <div class="h-full flex-1 bg-zinc-900 rounded text-white flex flex-col items-center">
            <div class="border-b-1 w-full border-gray-600 flex justify-center pb-2">
                <h1 class="text-2xl mt-4">Admin Panel</h1>
            </div>
            <div class="w-full mt-4 pl-6 flex flex-col gap-2 items-start">
                <a href="">
                    <i class="fa-solid fa-table-cells-large"></i>
                    Dashboard
                </a>
                <a href="" class="bg-zinc-600 rounded px-6 py-2">
                    <i class="fa fa-reorder"></i>
                    Products
                </a>
                <a href="">
                    <i class="fa-solid fa-panorama"></i>
                    Banners
                </a>
            </div>
        </div>
        <div class="h-full flex-5 bg-zinc-900 rounded text-white overflow-y-auto">
            <div class="border-b-1 border-zinc-600 p-4">
                <h1 class="text-2xl text-center mt-4">Add Products</h1>
                <form action="" class="p-4 flex flex-col gap-2">
                    <div>
                        <label for="name" class="text-zinc-300">Name</label>
                        <input class="px-3 py-1 border-2 mt-1 border-zinc-500 outline-none rounded w-full" type="text"
                            name="name" placeholder="Product Name">
                    </div>
                    <div>
                        <label for="description" class="text-zinc-300">Description</label>
                        <input class="px-3 py-1 border-2 mt-1 border-zinc-500 outline-none rounded w-full" type="text"
                            name="description" placeholder="Product Description">
                    </div>
                    <div>
                        <label for="caption" class="text-zinc-300">Caption</label>
                        <input class="px-3 py-1 border-2 mt-1 border-zinc-500 outline-none rounded w-full" type="text"
                            name="caption" placeholder="Product caption">
                    </div>
                    <div class="col-span-full">
                        <label for="productImage" class="block text-sm/6 font-medium text-zinc-300">PrductImage</label>
                        <div
                            class="mt-2 flex justify-center rounded-lg border border-dashed border-zinc-600 px-6 py-10">
                            <div class="text-center">
                                <svg viewBox="0 0 24 24" fill="currentColor" data-slot="icon" aria-hidden="true"
                                    class="mx-auto size-12 text-gray-300">
                                    <path
                                        d="M1.5 6a2.25 2.25 0 0 1 2.25-2.25h16.5A2.25 2.25 0 0 1 22.5 6v12a2.25 2.25 0 0 1-2.25 2.25H3.75A2.25 2.25 0 0 1 1.5 18V6ZM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0 0 21 18v-1.94l-2.69-2.689a1.5 1.5 0 0 0-2.12 0l-.88.879.97.97a.75.75 0 1 1-1.06 1.06l-5.16-5.159a1.5 1.5 0 0 0-2.12 0L3 16.061Zm10.125-7.81a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Z"
                                        clip-rule="evenodd" fill-rule="evenodd" />
                                </svg>
                                <div class="mt-4 flex text-sm/6 text-gray-600">
                                    <label for="file-upload"
                                        class="relative cursor-pointer rounded-md bg-transparent font-semibold text-indigo-600 focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-indigo-600 hover:text-indigo-500">
                                        <span>Upload a file</span>
                                        <input type="file" name="productImage" class="sr-only" />
                                    </label>
                                    <p class="pl-1">or drag and drop</p>
                                </div>
                                <p class="text-xs/5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input class="px-5 py-2 w-full bg-blue-500 rounded text-black text-xl cursor-pointer" type="submit"
                            value="Add product">
                    </div>
                </form>
            </div>
            <div class="p-4">
                <h1 class="text-2xl text-center mt-4">Products</h1>
            </div>
        </div>
    </div>
</body>

</html>